.icon {
    border-radius: 100%;
    width: 1%;
    margin-bottom: 30px;
    margin-left: 10px;
}
#pricing {
    text-align: center;
    margin: 5% ;
}
.wears {
    margin: 2% 5% 5% 5%;
}

#footer {
    background-color: #1B1A17;
    padding: 3% 5%;
    text-align: center;
    color: white;
    margin-top: 300px;
    
}

.w {
    text-decoration: none;
    color: whitesmoke;

}

.text-md-end {
    position: relative;
    text-align: center;
    margin: 1% 25% ;
}
a {
    text-decoration: none;
    color: #1B1A17;
}